*{
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
a,a:visited {
    text-decoration:none;
}
header{
    background: url("../images/header_bg.gif");
    height: 118px;
}
footer{
  background-color: #040404 !important;
}
.header-nav{
  background-color: #040404 !important;
  .navbar{
    padding: 0;
    .navbar-nav{
      .active{
        background-color: #be1e2d;
      }
      .nav-item {
        .nav-link{
          color: rgba(255,255,255,255,1);
          font-size: 15px;
        }
      }
      .nav-item:hover {
        background-color: #be1e2d;
      }
    }
  }
}